.form_admin_in{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login{
    background: #403d3d6b;
}
.login h2{
    text-align: center;
    font-size: 2rem;
}
.form_admin_in input[type=text],.form_admin_in input[type=password]{
    display: block;
    margin-bottom: 10px;
    height: 35px;
    border-radius: 25px;
    border: 1px solid #00c7ff;
    outline:none;
    padding-left: 15px;
    width: 320px;
}
.form_admin_in label{
    text-align: center;
    display: block;
    margin-bottom: 9px;
    font-size: 1rem;
    font-weight: 700;
}

.form_admin_in input[type=submit]{
    display: block;
    margin: auto;
    padding: 10px 55px;
    background: #56bad6;
    border: none;
    border-radius: 235px;
    cursor: pointer;
    outline: none;
}
.form_admin_in input[type=submit]:hover{
    background: #4b95af;
}
.error{
    background: #c78b8b;
    padding: 19px;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: normal;
    margin-bottom: 10px;
    border-radius: 24px;
}
