a{
	color: #76bcc2;
}
a:hover, a:focus{
	color: #395084;
}
h1{
	color: #395084;
}
.new-navbar{
	/*background-image: linear-gradient(#6d94bf, #446e9b 70%, #3e648d);*/
	background: linear-gradient(#bcdfe5, #bae0e3 50%, #76bcc2);
	margin-bottom: 0px;
	border: 1px solid #999999;
}
.btn-search{
	background-image: linear-gradient(#474949, #3d3f3f 50%, #000000);
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	color: #444444;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color: #000000;
}
.form-control-new-style{
	border: 1px solid #999999;
}
.panel-heading-new-style{
	background: linear-gradient(#bcdfe5, #bae0e3 50%, #76bcc2);
	font-weight: bold;
}
.panel-default{
	border: 1px solid #999999;
}
.list-group-item{
	border: none;
	font-size: 13px;
}
.good-img{
	max-width: 150px;
	max-height: 150px;
	background-size: cover;
    margin: 0 auto;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
	background: #76bcc2;
}
.dropdown-menu > li > a{
	font-size: 13px;
}
.btn-b{
	background: linear-gradient(#92bf8b, #5fb54c 50%, #379324);
	color: #efefef;
}
.btn-more-info{
	color: #395084;
	text-shadow: none;
	text-decoration: underline;
	font-weight: 600;
}
.btn-more-info:hover, .btn-more-info:focus{
	color: #395084;
}
.wr-good{
	height: 500px;
}
.name-good{
	height: 114px;
	overflow: hidden;
}
.text-cat-price{
	height: 60px;
}
.wr-img{
	height: 180px;
    line-height: 175px;
    vertical-align: middle;
}
.wr-btn-category-price{
	margin: 20px 0;
}
.name-category{
	color: #76bcc2;
    font-size: 24px;
    text-align: left;
}
.name-category small{
    float: right;
    margin-top: 5px;
}
.price-style{
	color: #d65b0f;
	font-weight: 600;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
	background-color: #76bcc2;
}
.nav > li > a.link-cat-search, a.link-cat-search{
	font-size: 13px;
	padding: 5px 10px;
}
.nav > li > a:hover, .nav > li > a:focus{
	background: transparent;
}
.nav-pills-search{
	margin-bottom: 15px;
}
.logo-img{
	max-width: 100%;
	float: right;
}
.page-header{
	margin-top: 0px;
}
.h1-head-logo{
	margin-top: 0px;
}
h1.header-text{
	margin-top: 30px;
	font-weight: 600;
}
.img-epn-logo{
	width: 100%;
}
.pagination > li > a, .pagination > li > span {
    padding: 5px 10px;
	color: #395084;
}
.btn-price-category, .btn-price-category:hover, .btn-price-category:focus, .btn-price-category > .active{
	background-color: #bae0e3;
	background-image: -webkit-linear-gradient(#bcdfe5, #bae0e3 50%, #76bcc2);
	background-image: -moz-linear-gradient(#bcdfe5, #bae0e3 50%, #76bcc2);
	background-image: -ms-linear-gradient(#bcdfe5, #bae0e3 50%, #76bcc2);
	background-image: -o-linear-gradient(#bcdfe5, #bae0e3 50%, #76bcc2);
	background-image: linear-gradient(#bcdfe5, #bae0e3 50%, #76bcc2);
	color: #222222;
	text-shadow: none;
}
.main-top img{
	width: 100px;
	min-width: 100%;
}
.top-mg{
	display: inline-block;
	margin-top: 20px;
}

.top-mg img,.main-top img{
	border-radius: 11px;
	box-shadow: 1px 1px 6px black;
}
.top-mg img{
	margin-right: 10px;
}
.top_mebel .btn-group, .top_mebel .wr-btn-more-info {
	float: none;
	display: inline-block;
	margin: 10px 0;
}
.ubder-main-img{
	margin-bottom: 20px;
}
/*-------------@madia------------*/
@media(max-width:768px){
	.logo-img{
		float: none;
		margin: 0px auto;
	}
	.col-xs-9, .col-xs-3{
		float: none;
		text-align: center;
		width: 100%;
	}
}
@media(max-width:992px){
	.img-epn-logo{
		width: 50%;
		margin: 0px auto;
	}
}


.onoffswitch {
	position: relative; width: 90px;
	top: 10px;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
	display: none;
}
.onoffswitch-label {
	display: block; overflow: hidden; cursor: pointer;
	border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
	position: relative;
	display: block; width: 200%; margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block;
	float: left;
	width: 27px;
	height: 27px;
	padding: 0;
	line-height: 30px;
	font-size: 14px; color: white;
	font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
	box-sizing: border-box;
}
.onoffswitch-inner:before {
	content: "";
	background: url(/img/if_ru.png);
	position: relative;
	padding-left: 10px;
	transform: translate(28px, 0);
	top: 4px;
	z-index: 1111;
	background-repeat: no-repeat;
	background-size: contain;

}
.onoffswitch-inner:after {
	content: "";
	background: url(/img/if_eng.png);
	position: relative;
	padding-left: 10px;
	transform: translate(91px, 0);
	z-index: 1111;
	top: 4px;
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0;
	transition: opacity 2s ease-in;
}
.onoffswitch-switch {
	display: block; width: 20px; margin: 6px;
	background: #FFFFFF;
	position: absolute; top: 0; bottom: 0;
	right: 56px;
	border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-checkbox + .onoffswitch-label .onoffswitch-inner:before {
	opacity: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner:before{
	opacity: 1;
}

.onoffswitch-checkbox + .onoffswitch-label .onoffswitch-inner:after{
	opacity: 1;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0px;
}